// base

$brand: #3d55a4;
$header: #666;
$subHeaders: #eee;
$text: #333;
$error: #e23535;
$background:#fff;
$link:#297fcf;


// greys
 
$black:#191919;
$darkgrey:#3f3f3f;
$grey:#888;
$lightgrey:#ddd;


// site

$red: #b72222;
$green:#a4bc32;
$pink:#c3416d;
$blue:#118ec8;
$light-blue:#5af5f3;
$dark-blue:#3482a5;
$orange:#f99a00;
$yellow:#f5c11d;